<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student Dashboard</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Date</th>
        <th>Status</th>
    </tr>

    {% for r in records %}
    <tr>
        <td>{{ r.student_name }}</td>
        <td>{{ r.user_id }}</td>
        <td>{{ r.date }}</td>
        <td>{{ r.status }}</td>
    </tr>
    {% endfor %}
</table>

<a href="/logout">Logout</a>
</body>
</html>